@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }


html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
}
/* Navigation */
.navbar {
  padding: 0.4rem;
  background: #000 !important;
}
.navbar-brand img {
  height: 60px;
  width: 60px;
}

.navbar-brand span {
  color: #0069d9;
}

.navbar a {
  color: #fff !important;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
  color: #fff !important;
}

.contact {
  position: relative;
  padding: 100px 0;
  min-height: 100vh;
  color: #fff;
}
.contact form {
  position: relative;
  z-index: 1000;
}
.contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  height: 50px;
  border-radius: 0;
  background: #fff;
  color: #fff;
  font-size: 1.25rem;
}
.contact .form-control:focus,
.contact .form-control:hover {
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  box-shadow: none;
}
.contact .textarea {
  min-height: 100px;
}
.contact label {
  color: #fff;
  font-size: 1.25rem;
}

.btn-contact {
}
