@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

/* Navigation */
.navbar {
  padding: 0.4rem;
  background: #000 !important;
}

.navbar-brand span {
  color: #0069d9;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 20px;
}
.navbar a {
  color: #fff !important;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
  color: #fff !important;
}
/* Showcase*/
.showcase {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(img/img4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
  top: 0;
}

.showcase-content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.showcase-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: #f9f3f4;
  text-shadow: 2px 2px 4px #000000;
}

.showcase-content h4 {
  font-weight: 500;
  text-shadow: 2px 2px 4px #000000;
}
*/ .btn-primary {
  background-color: #0069d9;
  border: 1px solid #0069d9;
  padding: 10px 20px;
}
.btn-primary:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #0069d9;
}
.padding {
  padding-bottom: 2rem;
}
/* Welcome Section */
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
  color: #fff;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
/* Three Column Area */
.box {
  background: #fff;
  padding: 5px;
}
.box-img1 {
  width: 100%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(img/img1.jpg);
  background-size: cover;
  background-position: center;
}

.box-img2 {
  width: 100%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(img/img3.jpg);
  background-size: cover;
  background-position: center;
}

.box-img3 {
  width: 100%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(img/delivery.png);
  background-size: cover;
  background-position: center;
}

/*About Section*/
#about {
  height: 110vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(img/img7.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
  margin-bottom: 40px;
  overflow-x: hidden;
}
.about h4 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #0069d9;
  text-shadow: 2px 2px 4px #000000;
}
.about p {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.display-4 {
  font-size: 2.5rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 40px;
}

.box-img4 {
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(img/img6.jpg);
  background-size: cover;
  background-position: center top;
}

.box-img5 {
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(img/img19.jpg);
  background-size: cover;
  background-position: center top;
}

/* Video Area */

.video-area {
  margin-top: 20px 0;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  max-width: 100%;
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* Catering menu */
.multi-level,
.item ul,
.catering-menu input[type="checkbox"] {
  display: none;
}
#menu:checked ~ .multi-level,
.item input:checked ~ ul {
  display: block;
  list-style: none;
}

label:hover {
  cursor: pointer;
}

label {
  width: 100%;
  display: block;
  z-index: 3;
  position: relative;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.catering-menu {
  width: 100%;
  height: 35vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(img/img9.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  /* border-bottom: 1px solid #0069d9; */
  text-align: center;
  font-size: 1.2rem;
}

.catering h4 {
  color: #fff;
}
.catering li span {
  color: #0069d9;
  font-size: 1.8rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px #000000;
}

.fas {
  color: #fff;
}
/* Gallery Section */
.gallery {
  margin: 0 auto;
}

.gallery img {
  transition: 1s;
  padding: 15px;
  height: 300px;
  width: 300px;
  display: block;
}

.gallery img:hover {
  transform: scale(1.1);
}

.title {
  margin: 20px;
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
}

/* Contact Section */
.contact {
  position: relative;
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(img/img18.jpg);
  background-size: cover;
  min-height: 40vh;
}
.contact h2 {
  font-size: 3em;
  font-weight: 600;
  text-shadow: 2px 2px 4px #000000;
}
.contact p {
  font-size: 1.2em;
  font-weight: 400;
  text-shadow: 2px 2px 4px #000000;
}
.contact form {
  position: relative;
  z-index: 1000;
}
.contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  height: 50px;
  border-radius: 0;
  background: #fff;
  color: #000;
  font-size: 1.25rem;
}
.contact .form-control:focus,
.contact .form-control:hover {
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  box-shadow: none;
}
.contact .textarea {
  max-height: 400px;
}
.contact label {
  color: #fff;
  font-size: 1.25rem;
}
/* Footer */
.tel {
  text-decoration: none;
  color: #b4b4b4;
  padding: 5px;
}

.tel:hover {
  text-decoration: none;
  color: #fff;
}
.social a {
  font-size: 2.5em;
  padding: 1.5rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #dd4b39;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
  color: #d5d5d5;
}

.logo {
  height: 40px;
  width: 40px;
}
footer {
  background-color: #000;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.created {
  list-style: none;
  color: #b4b4b4;
}

.created:hover {
  text-decoration: none;
  color: #fff;
}
/* Media Queries */
@media (max-width: 1366px) {
  .showcase-content h1 {
    font-size: 5rem;
  }
  .showcase-content h4 {
    font-size: 2.5rem;
  }
}

/* Desktop */
@media (max-width: 1024px) {
  #about {
    height: 75vh;
  }
  .catering-menu {
    height: 5vh;
  }
}

@media (max-width: 996px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 823px) {
  .showcase-content h1 {
    font-size: 3rem;
    padding-top: 20px;
  }
  .showcase-content h4 {
    font-size: 1.5rem;
  }
}
/* Laptop */
@media (max-width: 768px) {
  .navbar-brand span a {
    font-size: 0.5rem;
  }

  .nav-link {
    display: block;
    padding: 15px;
    margin-left: -5px;
    margin-top: 20px;
  }
  .navbar-nav li {
    font-size: 0.9em;
  }
  .showcase-h1 {
    font-size: 3.5rem;
  }
  .showcase-content h4 {
    font-size: 250%;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  #about {
    height: 100vh;
  }
  .img-about {
    height: 300px;
    width: 100%;
  }
  .video-area {
    margin-top: 80px 0;
  }
  .catering-menu {
    background-position: center center;
    height: 20vh;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 731px) {
  .showcase-content h1 {
    font-size: 3.5rem;
  }
  .showcase-content h4 {
    font-size: 200%;
  }
}
@media (max-width: 700px) {
  .showcase-content h1 {
    padding: 10px;
    font-size: 2.5rem;
  }
  .showcase-content h4 {
    padding: 0;
    font-size: 200%;
  }
}
/* Mobile Devices(Tablets & Phones) */
@media (max-width: 576px) {
  .navbar-brand span a {
    font-size: 0.5rem;
  }
  .showcase-content h1 {
    padding-top: 50px;
    font-size: 2rem;
  }

  .showcase-content h4 {
    font-size: 100%;
  }
  #about {
    height: 93vh;
  }
  .img-about {
    height: 300px;
    width: 100%;
  }
  .video-area {
    margin-top: 80px 0;
  }
  .catering-menu {
    background-position: center center;
  }
  .social a {
    font-size: 2em;
    padding: 0.7rem;
  }

  /* Mobile Devices( Phones) */
  @media (max-width: 475px) {
    .navbar-brand span a {
      font-size: 0.5rem;
    }
    .showcase-content h1 {
      padding: 0;
      font-size: 2rem;
    }
    .showcase-content h4 {
      font-size: 220%;
    }
    .img-fluid {
      max-width: 100%;
      height: auto;
    }
    #about {
      height: 100vh;
    }
    .img-about {
      height: 300px;
      width: 100%;
    }
    .video-area {
      margin-top: 80px 0;
    }
    .catering-menu {
      background-position: center center;
      height: 40vh;
    }
    .social a {
      font-size: 2em;
      padding: 0.7rem;
    }
  }
  /* Mobile Devices(Pixel Phones) */
  @media (max-width: 412px) {
    .showcase-content {
      margin-top: 15rem;
    }
    .showcase-content h1 {
      padding: 0;
      font-size: 2rem;
    }
    .catering-menu {
      height: 35vh;
    }
  }
  @media (max-width: 375) {
    .showcase-content {
      margin-top: 15rem;
    }
    .showcase-content h1 {
      padding: 0;
      font-size: 1.5rem;
    }
  }
  @media (max-width: 360) {
    .showcase-content {
      margin-top: 10rem;
    }
    /* Mobile Devices( Phones) */
    @media (max-width: 345px) {
      .navbar-brand a {
        font-size: 8px !important;
      }
      .showcase-content h1 {
        font-weight: 600;
        font-size: 2rem;
        margin: 0 auto;
        text-shadow: 2px 2px 4px #000000;
      }
      .img-fluid {
        max-width: 100%;
        height: auto;
      }

      #about {
        height: 100vh;
      }
      .img-about {
        height: 300px;
        width: 100%;
      }
      .video-area {
        margin-top: 80px 0;
      }
      .catering-menu {
        background-position: center center;
        height: 50vh;
      }
      .social a {
        font-size: 2em;
        padding: 0.7rem;
      }
    }
    @media (max-width: 320px) {
      .showcase-content {
        margin-top: 5rem;
      }
      .showcase-content h1 {
        padding: 0;
        font-size: 1.5rem;
      }
      .showcase-content h4 {
        font-size: 0.8rem;
      }
      .showcase-content .btn-lg {
        padding: 5px 10px;
      }
      .catering-menu {
        height: 45vh;
      }
    }
  }
}
